/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

dialog.wp-block-sterner-stuff-dialog-modal-block {
	border: none;
	opacity:0;
	min-width: var(--wp--style--global--content-size);
	margin-inline:auto;
	&.alignfull {
		max-width:none;
		margin-inline:0;
	}
	&::backdrop {
		background-color: var(--backdrop-color, rgba(0,0,0,0.5));
	}
}

.wp-block-sterner-stuff-dialog-modal-block[open] {
	opacity:1;
}

@media (prefers-reduced-motion: no-preference) {
	.wp-block-sterner-stuff-dialog-modal-block {
		animation: fadeIn 0.15s ease-in forwards;
	}
}

.wp-block-sterner-stuff-dialog-modal-block--close {
	text-align:right;
	button {
		background: transparent;
		border: none;
		cursor:pointer;
		--icon-size:32px;
	}
	.dashicon {
		width:var(--icon-size);
		height:var(--icon-size);
		font-size:var(--icon-size)
	}
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
